.oko{
    width: 100%;
    background: url('https://www.infotaller.tv/2018/06/22/reparacion/tiempo-coche-taller-satisfaccion-cliente_1229887018_339782_660x372.jpg');
    background-position: center;
    background-size:cover ;
    height: 70vh;
}

.nice{
    text-align: center;
    color: red;
}

